.cart{
  margin-left: 15px;
  font-size: 12px;
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #424242;
  padding: 0 10px;
  .iconfont{
    display: inline-block;
    padding-right: 5px;
  }
  &:hover{
    color: #ff6700 !important;
    background-color: #fff;
  }
}